.nav_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: darkblue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;

}

.heading {
  color: white;
  margin: 0;
  margin-left: 2%;
}
