.todo_wraper {
  display: flex;
  justify-content: space-between;
 
}

.leftSection {
  height: 89vh;
  width: 60%;
  margin-top: 20px;
  overflow: auto;
}
.leftSection h2 {
  text-align: center;
}



.leftSection::-webkit-scrollbar {
  width: 3px;
  margin-left: 3px;
}

.leftSection::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.leftSection::-webkit-scrollbar-thumb {
  background: #0c0c0c;
  border-radius: 5px;
}


.info {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.edit{
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.todo {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e5cc7c91;
  transition: background 3s ease;
  position: relative;
  overflow: hidden;
  /* z-index: 1; */
}

.todo span,
button {
  z-index: 5;
}

.todo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #e6d267;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 1s ease;
  z-index: 0;
}
.todo:hover::before {
  transform: scaleX(1);
  left: 0;
}

.delBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: rgba(8, 8, 8, 0.582);
  color: rgb(255, 255, 255);
  border: none;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
}

.delBtn:hover {
  transform: scale(1.1);
}
.uptBtn{
  width: 20px;
  height: 20px;
  z-index: 10;
}



/* right section */

.rightSection{
  /* border: 1px solid red; */
  width: 50%;

}


.taskform {
  box-sizing: border-box;
  position: -webkit-sticky;
  position:sticky;
  top: 20%;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.taskform label {
  display: block;
  margin-bottom: 10px;
}

.taskform input[type="text"],
select {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
}

.taskform button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.taskform button:hover {
  background-color: #0056b3;
}